
.body{
    display: grid;
    grid-template-columns: 20vw 40vw 20vw;
    background-color: rgb(34, 32, 46);
    justify-content: center;
}

.box{
    background-color: rgb(80, 51, 51);
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid black;
}

.left{
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 46, 66);
    text-align: center;
    color: white;
    font-family: queen;
    font-size: 4rem;
    padding-top: 2rem;
}

.info{
    background-color: aliceblue;
    text-align: center;
    padding: 10rem 20rem
}

.scroll{
    height: 130rem;
    overflow: auto;
    padding-right: 1rem;
}

.info h1{
    font-size: 6rem;
    margin-top: -5rem;
    font-family: queen;
}   

.info p{
    font-size: 2.5rem;
    overflow: scroll;

}

.right{
    background-color: rgb(48, 46, 66);
    text-align: center;
    color: white;
    font-family: queen;
    font-size: 4rem;
    padding-top: 2rem;
}

.item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    overflow: scroll;
}

.item-grid div{
    background-color: rgb(80, 51, 51);
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid black;
    height: 20rem;
}